* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.container {
    max-width: 1000px;
    margin: 0 auto;

}

.instructions{
    position: absolute;
    font-family: "Lilita One", sans-serif;
    font-size: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cube-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 2000px;
}

.cube {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    width: 600px;
    aspect-ratio: 1/1;
    transform-style: preserve-3d;
}

.cube-face {
    width: 600px;
    aspect-ratio: 1/1;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    outline: 3px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.cube-container .front {
    transform: translateZ(300px);
}

.cube-container .back {
    transform: rotateY(180deg) translateZ(300px);
}

.cube-container .left {
    transform: rotateY(-90deg) translateZ(300px);
}

.cube-container .right {
    transform: rotateY(90deg) translateZ(300px);
}

.cube-container .top {
    transform: rotateX(90deg) translateZ(300px);
}

.cube-container .bottom {
    transform: rotateX(-90deg) translateZ(300px);
}

/*/////////////// front //////////////////*/


.front-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.greetTop {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-shadow: 2px 2px rgb(230, 95, 151);
    color: azure;
    width: 50%;
    position: relative;
    top: 5%;
    left: 5%;
}

.greetDown {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    text-shadow: 2px 2px rgb(230, 95, 151);
    color: rgb(255, 255, 255);
    width: 50%;
    position: relative;
    top: 5%;
    left: 5%;
}

.pics {
    position: relative;
    bottom: 89%;
    left: 30%;
}

.pfp {
    width: 90%;

}

.self {
    position: relative;
    color: rgb(255, 255, 255);
    top: 10%;
    left: 5%;
    font-weight: 400;
    font-size: 28px;
}

.texts {
    box-sizing: content-box;
    overflow: hidden;
    display: grid;
    height: 34px;
    position: relative;
    top: 4%;
    left: 20%;
}

.words {
    color: white;
    font-size: 32px;
    display: block;
    animation: spin_words 12s infinite;
}

.intro {
    position: relative;
    color: rgb(255, 255, 255);
    line-height: 18px;
    width: 50%;
    height: 25%;
    top: 15%;
    left: 5%;
    font-weight: 100;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.downBtn {
    width: 120px;
    height: 40px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    color: black;
    border-radius: 25px;
    position: relative;
    top: 25%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-412%);
    }

    100% {
        transform: translateY(-400%);
    }
}

/*/////////////// right //////////////////*/

.right-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.project-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.topic {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-shadow: 2px 2px rgb(230, 95, 151);
    color: azure;
    position: relative;
    font-size: 32px;
    display: flex;
    justify-content: center;
    top: 2%;
}

.project-pages {
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    bottom: 5%;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    display: none;
    align-items: center;
}

.project {
    position: relative;
    box-shadow: 15px 15px 12px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 40%;
    margin-top: 9%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.project:hover .projectBtn {
    display: block;
}

.projectImgContainer {
    position: relative;
    height: 100%;
    width: 50%;
}

.projectImg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.projectTopic {
    position: relative;
    color: black;
    font-weight: 500;
    font-size: 20px;
    bottom: 100%;
    left: 52%;
}

.projectDesc {
    position: relative;
    color: black;
    line-height: 18px;
    font-weight: 400;
    font-size: 14px;
    width: 45%;
    bottom: 98%;
    left: 52%;
}

.projectTools {
    position: relative;
    bottom: 90%;
    left: 52%;
    width: 50%;
    color: black;
}

.toolTitle {
    position: relative;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: 600;
    width: 10%;
}

.tool {
    position: relative;
    width: 10%;
    display: flex;

}

.toolIcon {
    position: relative;
    width: 32px;
    left: 15%;
    margin-right: 5px;
}

.projectBtn {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin-top: 9%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.596);
}

.seeBtn {
    position: relative;
    left: 45%;
    top: 40%;
    width: 100px;
    height: 48px;
    border-radius: 15px;
    color: white;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeBtn:hover {
    background-color: black;
}

.slideHandlers {
    position: relative;
    bottom: 62%;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.prev,
.next {
    cursor: pointer;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*/////////////// Left //////////////////*/

.left-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.toolTopic {
    position: relative;
    font-size: 32px;
}

.toolset {
    position: relative;
    margin-top: 35px;
}

.toolSubTopic {
    position: relative;
    top: 2%;
    left: 2%;
    margin-bottom: 8px;
    font-size: 24px;
    text-shadow: 1px 2px 20px black;
}

.techs {
    position: relative;
    top: 3%;
    left: 2%;
    margin-bottom: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.techIcon {
    position: relative;
    width: 40px;
    height: 40px;
    left: 2%;
    background-color: white;

    border-radius: 8px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.techIconImg {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.techIcon:hover {
    width: 50px;
    height: 50px;
    border: 1px solid black;

}

.techName {
    position: relative;
    height: 20px;
    width: 50px;
    font-size: 14px;
    top: 0;
    left: 5%;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
}

/*/////////////// Back //////////////////*/

.back-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.backTopic {
    position: relative;
    font-size: 32px;
}

.socialGrid {
    position: relative;
    top: 10%;
    margin: auto;
    width: 80%;
    height: 70%;
    display: grid;
    gap: 4px 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.socialIcons {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcon {
    position: relative;
    width: 64px;
}

.facebook {
    grid-area: span 1 / span 1;
}

.instagram {
    grid-area: span 2 / span 1;
}

.linkedin {
    grid-area: span 1/ span 1;
}

.github {
    grid-area: 2 / span 2;
}

.facebook:hover {
    background-color: #3b5998;
}

.instagram:hover {
    background: #833ab4;
    background: linear-gradient(
            #833ab4, #fd1d1d, #fcb045);
}

.linkedin:hover {
    background-color: #0b69c7;
}

.github:hover {
    background-color: #061110;
}

/*/////////////// bottom //////////////////*/

.bottom-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.contact-container{
    position: relative;
    width: 100%;
    height: 70%;
}

.mailContainer{
    position: relative;
    bottom: 25%;
    left: 50%;
    width: 45%;
    height: 100%;
    border-left: 2px solid black;
}

.whatsappContainer{
    position: relative;
    top: 15%;
    left: 5%;
    width: 40%;
    height: 40%;
    
}

.waqr{
    position: relative;
    width: 100%;
    border-radius: 15px;
}

.text-input{
    position: relative;
    top: 15%;
    left: 5%;
    width: 250px;
    height: 32px;
    border: none;
    outline: none;
    margin-top: 10px;
    font-weight: 500;
    padding-left: 25px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.message{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.emailSubmit{
    width: 120px;
    height: 40px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    color: black;
    border-radius: 25px;
    position: relative;
    top: 25%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialSubTopic{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom:10px;
    text-shadow: 2px 2px 10px black;
}